.filter-container-dark, .filter-container-light {
  line-height: 0;
  font-size: 14px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 16px;
  border-radius: 8px;
}

.filter-container-dark {
  background-color: rgb(69, 69, 69);
}

.filter-container-light {
  background-color: #ededed;
}

.filter-icon {
  margin-left: 8px;
}

.facilities-filter-container-open {
  position: absolute;
  left: 300px;
  top: 136px;
  padding: 8px 16px 8px 16px;
  background-color: #ededed;
  border-radius: 5px;
  cursor: pointer;
}

.facilities-filter-container-closed {
  position: absolute;
  left: 170px;
  top: 136px;
  padding: 8px 16px 8px 16px;
  background-color: #ededed;
  border-radius: 5px;
  cursor: pointer;
}

.columns-filter-container-open {
  position: absolute;
  left: 410px;
  top: 136px;
  padding: 8px 16px 8px 16px;
  background-color: #ededed;
  border-radius: 5px;
  cursor: pointer;
}

.columns-filter-container-closed {
  position: absolute;
  left: 280px;
  top: 136px;
  padding: 8px 16px 8px 16px;
  background-color: #ededed;
  border-radius: 5px;
  cursor: pointer;
}

.network-filter-container-open {
  position: absolute;
  left: 524px;
  top: 136px;
  padding: 8px 16px 8px 16px;
  background-color: #ededed;
  border-radius: 5px;
}

.network-filter-container-closed {
  position: absolute;
  left: 394px;
  top: 136px;
  padding: 8px 16px 8px 16px;
  background-color: #ededed;
  border-radius: 5px;
}

.columns-select-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 0;
}

.check {
  margin-right: 8px;
}