.intake-container-dark, .intake-container-light {
  min-width: 350px;
  min-height: 250px;
  background-color: white;
  z-index: 4;
  padding: 16px
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}