.support-panel-light {
  flex: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.support-panel-dark {
  flex: 1;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.content-panel {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}