.table-container {
  flex: 1; 
  display: flex; 
  flex-direction: column; 
  overflow-x: auto; 
  overflow-y: auto; 
  margin: 10px;
  border-radius: 8px;
}

.table-parent {
  width: 100%; 
}

.table-section {
  width: 100%; /* Full width of its parent */
  min-width: 100%; /* Ensure it's not less than the container width */
  border-collapse: collapse;
  background-color: lightgrey;
  border-radius: 8px;
  overflow-x: scroll;
}

.table-header-dark th, .table-header-light th {
  text-align: center;
  padding: 24px 8px;
  font-size: 18px;
  font-weight: bold;
}

.column {
  min-width: 150px;
}

.table-header-dark th {
  background-color: #000000;
  color: white;
}

.table-header-light th {
  background-color: #f8fefe;
}

.table-body-dark tr {
  background-color: #171717;
}

.table-body-light tr {
  background-color: white;
}

.table-body-dark td, .table-body-light td {
  border: none;
  text-align: center;
  padding: 24px 8px;
  font-size: 14px;
  min-width: 150px; /* Apply min-width to all cells */
}

.table-body-dark td {
  color: white;
  border-bottom: 2px solid black;
}

.table-body-light td {
  color: black;
  border-bottom: 2px solid rgb(247, 247, 247);
}

.table-content-row-light {
  background-color: rgb(244, 254, 244); 
  font-weight: 'bold';
  cursor: pointer;
  min-width: '150px';
}

.table-content-row-light:hover {
  background-color: rgb(244, 254, 244); 
  font-weight: 'bold';
  cursor: pointer;
  min-width: '150px';
}

.table-content-row-dark {
  background-color: rgb(24, 39, 24); 
  font-weight: 'bold';
  min-width: '150px';
}

.table-content-row-dark:hover {
  background-color: rgb(24, 39, 24); 
  font-weight: 'bold';
  min-width: '150px';
}