.App-open {
  display: flex;
  height: 100vh;
  width: 100vw - 200px;
  padding-left: 200px;
  line-height: 1;
}

.App-closed {
  display: flex;
  height: 100vh;
  width: 100vw - 70px;
  padding-left: 70px;
}

.dark {
  background-color: #1a1a1a;
  color: 'white';
}

.light {
  background-color: white;
  color: #353935;
}

.toggle-button {
  padding: 10px;
  background-color: grey;
  border-color: lightgrey;
  border-width: 2px;
  border-radius: 8px;
  color: white;
}

.popup {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .2);
  z-index: 10;
}